langchain>=0.3.14
langchain-community>=0.3.14
langchain-core>=0.3.60
langchain-text-splitters>=0.3.3

langchain-huggingface>=0.1.2
langchain-chroma>=0.2.4
langchain-groq>=1.1.2

chromadb>=1.5.9

sentence-transformers>=3.2.1

pypdf>=5.3.1

groq>=0.10.0

python-dotenv>=1.0.1

rich>=14.0.0